@import url(https://fonts.googleapis.com/css?family=Yeseva+One);

body {
  font-family: "Yeseva One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
/* Sidebar */
#sidebar {
  background: url("../img/pawel-czerwinski-cFT6jboY16w-unsplash.jpg");
  height: 100vh;
  width: 40vw;
  background-repeat: no-repeat;
}

#banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 200px;
  height: 20vh;
  width: 40vw;
  background-color: rgba(166, 157, 149, 0.2);
}

.banner-text {
  margin: 0;
  color: #f4f1d0;
  font-size: 4rem;
}
/* Content sections */
#flex-container {
  display: flex;
  flex-grow: 1;
}

#section-flex {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#section-flex > section {
  flex-grow: 1;
  color: #f4f1d0;
  font-size: 20px;
}

#one {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #a69d95;
  padding: 0px 20px 30px;
}

#two {
  background-color: #a66641;
  position: relative;
  /* z-index: 10; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#three {
  background-color: #a69d95;
}
/* Form */

input,
label {
  font-size: 1rem;
  display: block;
}
input {
  margin-bottom: 15px;
}

#form-flex {
  display: flex;
  gap: 50px;
  margin: 40px;
}
