@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Yeseva One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
/* Sidebar */
#sidebar {
  background: url("../img/pawel-czerwinski-cFT6jboY16w-unsplash.jpg");
  height: 100vh;
  width: 40vw;
  background-repeat: no-repeat;
}

#banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 200px;
  height: 20vh;
  width: 40vw;
  background-color: rgba(166, 157, 149, 0.3);
}

.banner-text {
  margin: 0;
  color: #f4f1d0;
  font-size: 4rem;
}
/* Content sections */
#flex-container {
  display: flex;
  flex-grow: 1;
}

#section-flex {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#section-flex > section {
  flex-grow: 1;
  color: #f4f1d0;
  font-size: 20px;
}

#one {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  background-color: #a69d95;
  padding: 0px 90px 30px;
}

#one > p {
  font-family: "open sans";
  line-height: 2.8rem;
  font-size: 2.2rem;
  font-weight: 900;
  color: #592316;
}

#two {
  display: flex;
  flex-direction: column;
  background-color: #a66641;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.section-two-title {
  font-size: 2.5rem;
  margin: 40px 40px 0px;
}

#three {
  background-color: #a69d95;
}
/* Form */
input,
label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: block;
}

input {
  width: 300px;
  padding: 7px;
  margin: 7px 0px 15px;
  border: none;
  outline: 0.2px solid #402116;
  border-radius: 5px;
  background-color: #f4f1d0;
}

/* input[type="text"]:valid {
  outline: 2px solid green;
}
input[type="email"]:valid {
  outline: 2px solid green;
}
input:focus {
  outline: 2px solid red;
} */

label {
  margin-top: 25px;
}

#form-flex {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 40px;
}

.submit-button {
  color: #f4f1d0;
  background-color: #8c3d20;
  margin: 30px 40px;
  padding: 20px 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.submit-button:active {
  background-color: #a66641;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.section-three-text {
  margin-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.section-three-text > a {
  color: #8c3d20;
}
.section-three-text > a:hover {
  text-decoration: underline;
  color: #8c3d20;
}
